@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.icon-container img {
  width: 150px;
  height: 150px;
}

@media (max-width: 600px) {
  .icon-container img {
    width: 100px;
    height: 100px;
  }
}


